# Node / Nest
node_modules/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Java / Spring
target/
*.class
*.log

# IDEs
.vscode/
.idea/
*.iml

# Env
.env
.env.*
!.env.example

# --- DB runtime data (NO versionar) ---
**/mysql-data/
**/postgres-data/
**/pgdata/
**/data/
**/*.sock

# Docker
docker-compose.override.yml
.dockerignore.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
*~

# Backups
*.bak
*.backup
*.sql.gz
backup_*.sql
